
.dialogs {
   display: flex;
   min-height: 750px;
 font-weight: 500;
 font-size: 1.2rem;
 }
 .dialogs__messages {
   margin-right:10px;
   width: 70%;
   background: rgba(73,243,164,0.5);
 }


 .dialogs__messages div:nth-of-type(1){
   background-color: aliceblue;
   height:50px;
   padding:10px;
   text-align: center;
 
 }
 .dialogs__messages img{
  width:30px;
  height:30px;
 }
 .message{
  margin:20px;
  padding:10px;
  border-radius:20% 0% 20% 0%;
  background: rgba(97, 218, 251, 0.5);
  width:20%;
  border:1px solid rgba(97, 218, 251, 1);
 }


 .dialogs__names {
   width: 30%;
 
   background-color: rgba(97, 218, 251, 0.5);
 }
 .dialogs__names div:nth-of-type(1){
   background-color: aliceblue;
   height:50px;
   padding:10px;
   text-align: center;
 }
 .name{
 padding: 10px;
 display:flex
 }
 .name:hover{
   background-color: aliceblue;
 }
 
 .name .active {
   color: rgba(11, 112, 228, 0.7) !important
 }
 .name div{
  padding:10px;
  width:60px !important;
  height:60px !important;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgba(11, 112, 228, 0.7);
 }
 .min__Img{
  margin:-10px;
  width:inherit;
  height:auto;
  
 }
 .new{
  width:100%;
  background: white;
  border:1px solid rgba(73,243,164,0.5);
  height:80px;
  margin-top:49%
 }