.main__posts{
  margin:10px;
}
.new__post{
  margin:10px;
}
.new__post div{
  margin:10px 0px 10px 93%;
  background: rgba(11, 112, 228, 0.7);
  width:50px;
  border-radius: 10%;
}
.new__post p{
  margin:10px;
}
h2{
  line-height: 3rem;
}
.item{
  border-top:1px solid black;
   margin: 10px;
display:flex
 }
 
 .image{
  margin:10px 10px 0px 0px;
  width:50px;
  min-width: 50px;
  height:50px;
  border-radius: 50%;
  overflow: hidden;
 }
 .image img{
  width:50px;
  height: 50px;
 }
 .image+p{
  width:95%;
  margin:10px 0px;
 
 }
 .button{ color:rgba(11, 112, 228, 0.7);
  display: flex;
  align-items: center;
 }
 textarea{
  display:block;
  width:98%;
  margin:0px 10px;
  padding:10px
 }
 .button div{
  width:40px;
  height:40px
 }
 .like{
  width:40px;
  height:40px;
 }
 .countLikes{
 width:100%
 }