
.dialogs {
   display: flex;
   min-height: 750px;
 font-weight: 500;
 font-size: 1.2rem;
 }
 .dialogs__messages {
   margin-right:10px;
   width: 70%;
   background: rgba(73,243,164,0.5);
 }
 .dialogs__messages div{
   background-color: aliceblue;
   height:50px;
   padding:10px;
   text-align: center;
 
 }
 .dialogs__names {
   width: 30%;
 
   background-color: rgba(97, 218, 251, 0.5);
 }
 .dialogs__names div:nth-of-type(1){
   background-color: aliceblue;
   height:50px;
   padding:10px;
   text-align: center;
 }
 .name{
 padding: 10px;
 }
 .name:hover{
   background-color: aliceblue;
 }
 .active {
   color: rgba(11, 112, 228, 0.7) !important
 }
 .name .active {
   color: rgba(11, 112, 228, 0.7) !important
 }